{% extends 'base.html' %}

{% block content %}

<body>
    <div class="hero-unit">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="/static/img/Portfolio-Self.png" class="d-block mx-lg-auto img-fluid" alt="Selfie!"
                    width="400" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold">How's it going?</h1><br>
                    <p class= "lead">Over the passed decade, I've been redefining myself by asking how I can implement my skills in technology within the golden
                        age of it. As a mature aged student, I push myself and others to create the best version of whatever is in front of me.
                        I've worked many jobs in the past but none have satisfied my craving for creativity quite like Computer Science and
                        Software Development.</p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}