{% extends 'base.html' %}

{% block header %}
<!--HERO-->
<div class="hero-unit">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="static/img/hero-img.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                    width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Hello, I'm Jason.</h1>
                <p class="lead">I'm a junior interdisciplinary developer residing in Brisbane, Australia. I study at QUT
                    full-time and
                    work part-time.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="{{url_for('about.about') }}"> <button type="button" class="btn button btn-primary btn-lg px-4 me-md-2"><span>My
                            Story</span></button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Work">
    <div class="hero-unit Work-1">
        <div class="container-fluid">
            <div class="Work-Details">
                <div class="row">
                    <div class="col-sm-1">
                        <img src="static/img/gigmonkey.png" width="60" height="60">
                    </div>
                    <div class="col-sm-2">
                        <div class="detail-block">
                            <p>Gigmonkey<br>QUT, 2021<br>Back-End Authentication</p>
                        </div>
                    </div>
                    <div class="col-sm-7">

                    </div>
                    <div class="col-sm-2">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <a href="http://gigmonkey.herokuapp.com/"><button type="button"
                                    class="btn button btn-primary btn-lg px-4 me-md-2"><span>Link</span></button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-12">
                <img src="static/img/gigmonkey-preview.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                    width="5000" height="2000" loading="lazy">
            </div>
            <div class="row-12">
            </div>
            <div class="row-12">
            </div>
        </div>
    </div>
    {% endblock %}